@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overscroll-behavior-x: none;
  overscroll-behavior-y: none;
  scroll-behavior: smooth;
}

@media screen and (max-width: 450px) {
  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .side-icons {
    width: 100%;
    justify-content: center;
    gap: 1rem;
    margin-top: 10px;
  }
  .inputContainer {
    width: 90%;
  }

  .heading {
    font-size: 1rem;
  }
  .text {
    font-size: 0.8rem;
    cursor: pointer;
  }
  .footerContainer {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 25px;
  }
  .footerContainer ul {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
